{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Register to SharkShelf {% endblock %}</h1>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    
    <form method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username"
                   placeholder="Please input your username (Maximum 16 characters)" class="form-control"
                   value="{{ request.form['username'] }}"></input>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password"
                   placeholder="Please input your password (Maximum 16 characters)" class="form-control"
                   value=""></input>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
{% endblock %}